div {
                background: #e0d7fb;
            }
            .container {
                width: 960px;
                margin: 0px auto;
            }
            .row {
                clear: both;
            }
            .col-1 {
                width: 80px;
                float: left;
            }
            
            .col-2 {
                width: 160px;
                float: left;
            }
            .col-3 {
                width: 240px;
                float: left;
            }
            .col-4 {
                width: 320px;
                float: left;
            }
            .col-5 {
                width: 400px;
                float: left;
            }
            .col-6 {
                width: 480px;
                float: left;
            }
            .col-7 {
                width: 560px;
                float: left;
            }
            .col-8 {
                width: 640px;
                float: left;
            }
            .col-9 {
                width: 720px;
                float: left;
            }
            .col-10 {
                width: 800px;
                float: left;
            }
            .col-11 {
                width: 880px;
                float: left;
            }
            .col-12 {
                width: 960px;
                float: left;
            }

p {
    padding-left: 20px;
}

.icon {
    padding: 20px;
}

.menu {
    color: #4a69fd;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
    font-weight: 700;
    padding: 10px 10px; 
}

.menu, .nav {
    cursor: pointer;
}

.menu a {
    text-decoration: none;
}
.nav {
    color:#4a69fd;
}
h2 {
    padding: 10px;
}

.left {
    padding: 0px 10px;
    background: none;
    float: left;
    cursor: default;
}

.prev, .next {
    width: 20px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.footer {
    padding-top: 2px;
}

.document {
    color: #32d530;
    font-weight: 700; 
}

.section {
    clear: both;
}
.section {
    padding: 10px;
    border:  1px solid gray;
    margin-top: 5px;
}
