        body {
          padding-top: 50px;
          padding-bottom: 50px;
        }
        .starter-template {
          padding: 40px 15px;
          text-align: center;
        }
        
        .hidden {
            display: none;
        }
        
        .debug {
            position: fixed;
            background: #fff;
            opacity: 0.5;
            top: 100px;
            left: 10px;
            padding: 10px;
            border-radius: 10px;
        }