input {
    font-size: 14px;
    font-weight: bold;
}

input[type=range]:before {
    content: attr(min);
    padding-right: 5px;
}

input[type=range]:after {
    content: attr(max);
    padding-left: 5px;
}

output {
    display: block;
    font-size: 5.5em;
    font-weight: bold;
}

.container {
    width: 700px ;
    margin: 0 auto ;
}

body {
    margin:0;
    padding:0;
    background:rgba(254, 241, 241, 0.96);
}

h1 {
    color: blue;
}

.section {
    border:1px solid gray;
    width: 600px;
    padding:30px;
    margin:10px;
}
