.rounded {
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}

.box-shadow, .gradient, .rotate, .skewed, .width-trans, .columns, .resize {
    border: 1px solid gray;
    padding: 10px;
    margin:10px;
}

.box-shadow {
    height:100px;
    margin: 30px;
    box-shadow: 10px 10px 5px #757575;
}

.gradient {
    background: -webkit-linear-gradient(yellow, orange); 
    background: -o-linear-gradient(yellow, orange); 
    background: -moz-linear-gradient(yellow, orange); 
    background: linear-gradient(yellow, orange); 
}

.text-shadow {
    text-shadow: 5px 5px 5px #757575;
}

.rotate {
    width: 100px;
    height: 100px;
    background-color: #f8daa2;
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.skewed {
    width: 100px;
    height: 100px;
    background-color: #f8daa2;
    -ms-transform: skew(30deg,20deg); /* IE 9 */
    -webkit-transform: skew(30deg,20deg);
    transform: skew(30deg,20deg);
}

.width-trans {
    height: 100px;
    -webkit-transition: width 2s;
    transition: width 2s, height 2s, transform 2s;
}

.width-trans:hover {
    width: 500px;
    height: 50px;
}

.animation {
    width:100px;
    height:100px;
    padding:10px;
    margin:10px;
}

    .animation:hover {
        -webkit-animation: anim1 5s; 
        animation: anim1 5s;
    }

        
@-webkit-keyframes anim1 {
    0% {
        background: red;
    }

    25% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    100% {
        background: green;
    }
}

        
@keyframes anim1 {
    0% {
        background: red;
    }

    25% {
        background: yellow;
    }

    50% {
        background: blue;
    }

    100% {
        background: green;
    }
}

.columns {
    -webkit-column-count: 3;
    -moz-column-count: 3; 
    column-count: 3;
}

.resize {
    width: 400px;
    resize: both;
    overflow: auto;
}