<div class="inner cover">
    <div class="container">
        <div class="feature">
            <h3>Friends</h3>
            <p>
                Connect and grow your friends' list. Travel with your buddies with no hassle
            </p>
        </div>
        <div class="feature">
            <h3>Create</h3>
            <p>
                Create your own planned trips
            </p>
        </div>
        <div class="feature">
            <h3>Join</h3>
            <p>
                Join trips that other tripsters are planning that interests you
            </p>
        </div>
        <div class="feature">
            <h3>Privacy</h3>
            <p>
                Mark trips as private, public or friends to maintain your trip's privacy
            </p>
        </div>
        <div class="feature">
            <h3>Manage trips</h3>
            <p>
                Leave a trip at any time on your will or create a new if you have your own group
            </p>
        </div>
        <div class="feature">
            <h3>Manage tripsters</h3>
            <p>
                Grow or trim friends' list without restrictions. Accept or turn down friend request with ease
            </p>
        </div>
        <div class="feature">
            <h3>RealTime updates</h3>
            <p>
                Get friend requested popped in in your notification panel. New trips are automatically loaded when posted, so no need to refresh the application
            </p>
        </div>
        <div class="feature">
            <h3>Responsive</h3>
            <p>
                The touch and feel optimization for Mobile and Tablet devices. Native experience over web enabled
            </p>
        </div>
        <div class="feature">
            <h3>Upcoming features</h3>
            <div>
                <ul>
                    <li>Photo manager per trip with tagging feature</li>
                    <li>Positioning profile picture</li>
                    <li>Location based suggestions</li>
                    <li>Itinerary support per trips</li>
                    <li>Sub-trip forks for trip-buddies</li>
                    <li>Map positioning per user</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{nav("features")}}